body {
    /* font-family: 'Lucida Sans'; */
    font-family: 'Permanent Marker', cursive;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* min-height:750px;
    min-width:120px; */
}

.backimage{
    background-image:url(images/editedbackground.png);
    background-size:cover;
}

body header{
    text-align:center;
    margin-top:30px;
}

body main{
    display:flex;
    flex-direction:row;
}

ul{
    display:flex;
    flex-direction:column;
}

ul li{
    list-style:none;
}

article{
    margin-left:150px;
    margin-right:150px;
    margin-top:100px;
    margin-bottom:100px;
}

article h2{
    text-align:center;
}

#left{
    background-image:url(images/leftboxscrap.png);
    background-size:cover;
    display:flex;
    flex-direction:column;
    
}

#center{
    background-image:url(images/centerboxscrap.png);
    background-size:cover;
    display:flex;
    flex-direction:column;
    
}

footer{
    margin-bottom:20px;
}

