body{
    /* background-image:url(images/backgroundnew.png);
    background-size:cover;
    position:relative;
    min-width:900px; */
}

header{
    text-align:center;
    font-family:"calibri"; 
    font-size:large;
    color:rgb(238, 238, 238);
    background: rgb(125,12,12);
    background: linear-gradient(0deg, rgba(125,12,12,1) 0%, rgba(243,51,51,1) 100%);
    border-style:groove;
    border-width:7px;
    border-radius:15px;
    width:550px;
    height:125px;
    margin:auto;
    margin-top:10px;
    margin-left:375px;
}

aside{
    position:absolute;
    top:10%;
    right:2%;
    width:425px;
    font-family:'calibri';
    text-align:center;
    background-size:contain;
    background: rgb(181,181,181);
    background: linear-gradient(0deg, rgba(181,181,181,0.5019257703081232) 0%, rgba(255,255,255,0.499124649859944) 100%);
    border-radius:15px;
}

#title{
    font-size:46px;
    font-weight:bolder;
    margin-top:5px;
    margin-right:10px;
    margin-left:10px;
}

#description{
    font-size:28px;
    margin-top:-30px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
}

aside img{
    position:relative;
    height:500px;
}

main{
    position:absolute;
    left:6%;
    top:130%;
}

button{
    opacity:0%;
    height:600px;
    width:46px;
}
