body{
    background-image:url(images/backgroundnew.png);
    background-size:cover;
    position:relative;
    min-width:900px;
}

header{
    text-align:center;
    font-family:"calibri"; 
    font-size:large;
    color:rgb(238, 238, 238);
    background-color:rgb(243, 51, 51);
    border-style:groove;
    border-width:7px;
    border-radius:15px;
    width:550px;
    height:125px;
    margin:auto;
    margin-top:10px;
}

aside img{
    position:absolute;
    top:200%;
    right:30%;
    height:60%;
    opacity:0%;
}

main{
    position:absolute;
    left:6%;
    top:110%;
}

button{
    opacity:30%;
    height:600px;
    width:46px;
}
