body{
    margin-left:20px;
    font-family: 'Permanent Marker', cursive;
    width:600px;
}

header{
    font-size:larger;
    margin-bottom:50px;
}

p{
    font-family:Calibri;
    margin-left:250px;
}

h2{
    margin-left:75px;
    font-size:28px;
}

h3{
    margin-left:125px;
}