body{
    font-family:'Gill Sans';
    background: rgb(231,159,189);
background: linear-gradient(180deg, rgba(231,159,189,1) 0%, rgba(218,77,148,1) 35%, rgba(193,7,24,1) 100%);
}

h1{
    text-align:center;
    font-size:64px;
    padding-bottom:25px;
    color:rgb(190, 1, 64);
}

h2{
    text-align:center;
    font-size:30px;
    color:rgb(86, 43, 226);
}

p{
    font-size:25px;
    margin:50px;
}

article{
    display:flex;
    flex-direction:column;
    background-color:rgba(199, 128, 240, 0.439);
    padding:5px;
}

#inputs{
    align-self:center;
    font-size:20px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    text-align:right; 
    margin-right:25px;
    margin-left:25px;
    margin-bottom:10px;
    padding:50px;
    /* width:350px; */
    height:250px;
    line-height:40px;
    background-color:rgba(199, 128, 240, 0.439);
    background-blend-mode:lighten;
}

button{
    font-family:'Gill Sans';
    font-size:18px;
}

#button:hover{
    cursor:crosshair;
}

#button{
    align-items:center;
    margin:auto;
    width:300px;
    height:50px;
}