body {
    font-family: Arial;
    color: #c0c0c0;
    padding: 50px;
    line-height: 1.5em;
    background-image:url(images/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    max-height:750px;
}

h1{
    text-align:center;
    font-size:72px;
    margin-top:-20px;
}

button { 
    padding: 10px;
    background: rgb(64,61,120);
    background: linear-gradient(0deg, rgba(64,61,120,1) 0%, rgba(126,177,241,1) 100%);
    font-size:25px;
}

div {
    padding: 20px;
}

/* #gamecontrol, #score {
    background-color: aliceblue;
} */

/* #game {
    background-color:#eaeaea;
} */
/* #actions {
    background-color: silver;
} */

#score{
    background-image:url(images/indexcard2.png);
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    left:68%;
    bottom:35%;
    position:fixed;
    width:100%;
    color:#333;
}

#game{
    padding-left:30%;
    padding-top:-20px;
    font-size:20px;
    justify-items: end;
}

#score p{
    padding-left:35px;
    padding-bottom:5px;
    font-family:'Permanent Marker', cursive;
    font-size:20px;
}

#actions{
    padding-left:30%;
}